@using ChecklistThingy.Helpers
@{
    ViewBag.Title = "Home Page";
}

<section>
<div class="front-page">
    <div class="hero-unit">
        <div class="container">
            <h1>Recall and be sure!</h1>
        </div>
    </div>
    <div class="container">
        <div class="row letterbox">
            <div class="span8 offset2 buttons-text-letterbox whiteout">
                <h3>Quick checklists for those moments that need them</h3>
                @if (Request.IsAuthenticated)
                {
                    @Html.IconClassActionLink("My Checklists", "List", "Checklist", "icon-chevron-right icon-white", "btn btn-success btn-large")      
                }
                else
                {
                    @Html.IconClassActionLink("Register for Free", "Register", "Account", "icon-pencil icon-white", "btn btn-info btn-large")
                    @Html.IconClassActionLink("Log In", "Login", "Account", "icon-chevron-right icon-white", "btn btn-success btn-large")                           
                }
            </div>
        </div>
    </div>
</div>
</section>